@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo{
    margin-top:auto 
}
.icons {
    justify-content: space-between;
    display: flex;
    gap: 1vw
}

.search{
    display: flex;
    align-items: center;
    
}

.header-banner {
    background-image:url('../img/dark_line.png'), url('../img/back.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30%;
    background-position: center;
    margin-top: 30px;
}
.header-banner h1 {
    font-family: "Cormorant", serif;
    font-size: 60px; /* Увеличивает размер заголовка */
    font-weight: 400;
    color: white; /* Цвет текста */
    margin: auto;
    width: 80%;
}

.header-banner p {
    font-family: "Cormorant", serif;
    font-size: 24px; /* Увеличивает размер текста */
    font-weight: 400;
    color: white;
    margin: auto;
    width: 80%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 64px;
}

.nav-links-menu{
    display: flex;
    justify-content:space-between;
    width: 500px;
}

.link-btn{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 400;
}

.burger-menu{
    display: none;
}

.mobile-menu{
    display: none;
    height: 691px;
    width: 360px;
    background-color: white;
    position: fixed;
    align-items: center;
    top: 0;
}

.mobile-menu_up{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 64px;

}

.collection{
    margin-top: 30px;
    font-family: "Cormorant", serif;
    display: flex; 
    flex-direction: column; /* Добавляем вертикальное выравнивание */
    justify-content: center;
    align-items: center; 
    text-align: center; 
    font-weight: 400;
    size: 40px;
    margin-bottom: 10px; /* Расстояние между заголовком и изображениями */ 
    
}

.collection h2{
    font-family: "Cormorant", serif;
    display: flex; 
    flex-direction: column; /* Добавляем вертикальное выравнивание */
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-weight: 300;
    font-style: italic;
    margin-top: 150px; /* Отступ сверху */ 
    margin-bottom: 150px; /* Отступ снизу */
}

.tea-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem; /* Расстояние между элементами */
    padding: 1rem;
    width: 100%;
    margin: auto; /* Центрируем контейнер */
}

.tea-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tea-item img {
    width: 100%; /* Изображение занимает всю ширину блока */
    height: auto;
    max-width: 150px; /* Ограничение по максимальной ширине, чтобы изображения не были слишком большими */
    border-radius: 50%; /* Круглая форма */
}

.tea-item p {
    margin-top: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

@media (max-width: 768px){
    .burger-menu{
        display: flex;
        position: absolute;
        left: 1rem;
    }
    
    .link-btn{
        display: none;
    }
    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .mobile-menu{
        display: none;
        height: 691px;
        width: 360px;
        background-color: white;
        position: fixed;
        align-items: center;
        top: 0;
}
}
@media (max-width: 480px){
    .burger-menu{
        display: flex;
        position: absolute;
        left: 1rem;
    }
    
    .link-btn{
        display: none;
    }
    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobile-menu{
        display: none;
        height: 691px;
        width: 360px;
        background-color: white;
        position: fixed;
        align-items: center;
        top: 0;
}
}